<li data-id="<%= entries[which].comments[i].id %>">
  <div class="vote">
    up / down
  </div>
  <header>
    <%= entries[which].comments[i].postedBy.name %>
  </header>
  <section>
    <%= entries[which].comments[i].content %>
  </section>
  <footer>
    <div class="reply">
      <a class="load-replies">load <%= entries[which].comments[i].children.length %> replies</a> or <a class="comment-reply">reply</a>  
      <form method="POST" data-callback="newEntry" action="/reply/<%= parent.id %>/reply">
        <div class="row pad-bottom-light">
          <input type="text" name="slug" hidden value="<%= slug %>">
          <input type="text" name="id" hidden value="<%= parent.id %>">
          <label for="title">Reply to comment</label>
          <textarea name="message"></textarea>
          <div class="row pad-bottom-light">
            <a class="button primary submit">send it</a>
          </div>
        </div>
      </form>
    </div>
  </footer>
</li>