<% var date = new Date(entry.createdAt) %>
<div class="single">
  <ul class="control scroll-y">
    <li class="back"><i class="icon-arrow_back"></i></li>
    <li class="close touch" title="close"><i class="icon-view_headline"></i></li>
    <li class="close desktop" title="close"></i><i class="icon-view_module"></i></li>
    <% if (user) { %>
    <% if (entry.votes[0]) { %>
    <% var up = (entry.votes[0].vote) %>
    <li class="vote up <% if (up) { %> <%= 'active' %> <% } %>" title="vote up" data-dir="up"><i class="icon-thumb_up"></i></li>
    <li class="vote down <% if (!up) { %> <%= 'active' %> <% } %>" title="vote down" data-dir="down"><i class="icon-thumb_down"></i></li>
    <% } else { %>
    <li class="vote up" title="vote up" data-dir="up"><i class="icon-thumb_up"></i></li>
    <li class="vote down" title="vote down" data-dir="down"><i class="icon-thumb_down"></i></li>
    <% } %>
    <% if (user.admin) { %>
    <li class="tag<% if (entry.special) { %> active<% } %>" title="make special" data-tag="special"><i class="icon-new_releases"></i></li>
    <li class="tag<% if (entry.sticky) { %> active<% } %>" title="make sticky" data-tag="sticky"><i class="icon-adjust"></i></li>
    <li class="tag<% if (entry.nsfw) { %> active<% } %>" title="mark nsfw" data-tag="nsfw"><i class="icon-remove_red_eye"></i></li>
    <li class="tag<% if (entry.nsfl) { %> active<% } %>" title="mark disturbing" data-tag="nsfl"><i class="icon-flight_land"></i></li>
    <% } %>
    <% if ( (entry.postedBy.name == user.username) || user.admin ) { %>
    <li class="delete" title="delete"><i class="icon-indeterminate_check_box"></i></li>
    <% } %>
    <% } %>
  </ul>
  <div class="data scroll-y">
    <article class="<% if (entry.media) { %> has-media<% } %>" data-id="<%= entry.id %>">
      <div class="entry">
        <header>
          <h1>
            <%= entry.title %>
          </h1>
        </header>
        <section>
          <% if (entry.media) { %>
          <% 
          if (entry.oembed) { 
            var oembed = JSON.parse(entry.oembed); 
            if (oembed.html) { %>
            <%- oembed.html %>
            <% } else { %>
            <% if ( oembed.url.indexOf(".jpg") > 0 || oembed.url.indexOf(".jpeg") > 0 || oembed.url.indexOf(".png") > 0 ) { %>
            <div class="media">
              <img src="<%= oembed.url %>" alt="<%= oembed.title %>">
            </div>
            <div class="row">
              <p class="px12">
                via: <a href="<%= oembed.url %>"><%= oembed.url %></a> 
              </p>
            </div>
            <% } else { %>
            <iframe class="content" src="<%= oembed.url %>" alt="<%= oembed.title %>"></iframe>
            <p class="px12 pad-bottom">
              via: <a href="<%= oembed.url %>"><%= oembed.url %></a> 
            </p>
            <% } %>

            <% }
          } else { 
            var split = entry.media.split("/");
            var hostname = "";
            var link = ""
            if (split[1] == "") {
              hostname = split[2];
              link = entry.media;
            } else {
              hostname = split[0]
              link = "http://" + entry.media;
            } %>
            <p>
              via <a href="<%= link %>" target="_new"><%= hostname %></a>
            </p>
            <% } %> 

            <% } %> 
            <% if (entry.content) { %>
            <%- entry.content %>
            <% } %>
          </section>
          <cite>
            <strong><%= entry.postedBy.name %></strong> &rarr;
            <% for (var x = 0; x < entry.subs.length; x++) { %>
            <% if (x > 0) { %> / <% } %>
            <a href="/sub/<%= entry.subs[x].slug %>"><%= entry.subs[x].name %></a>
            <% } %>
            <span class="timesince"><%= timeSince(date) %> ago</span>
          </cite>
          <footer>
            <div class="permalink">
              <a href="/sub/<%= entry.subs[0].slug %>/<%= entry.slug %>">permalink</a>
            </div>
            <div class="score">
              <span class="totes"><%= entry.ups - entry.downs %></span>
              <span class="calculated"> &rarr; (<span class="ups"><%= entry.ups %></span> - <span class="downs"><%= entry.downs %></span>)</span>
            </div>
          </footer>
        </div>
      </article>

      <div class="pad-sides-mini">
        <% if (user) {  %>
        <div class="row make-comment" id="make-comment">
          <div class="new-thing">
            <form method="POST" data-callback="output" action="/new/comment">
              <div class="row pad-bottom-light">
                <input type="text" name="entryid" hidden value="<%= entry.id %>">
                <label for="title">Add a new comment</label>
                <textarea name="message"></textarea>
                <div class="row pad-bottom-light">
                  <a class="button primary submit">send it</a>
                </div>
              </div>
            </form>
          </div>
        </div>
        <% } %>



        <div class="row comments" id="comments">
          <%  var comments = entry.comments;
          if (comments.length > 0) { %>
          <ul>
            <% for (var x = 0; x < comments.length; x++) { %>
            <li data-id="<%= comments[x].id %>" id="<%= comments[x].id %>">
              <header>
                <%= comments[x].postedBy.name %>
              </header>
              <section>
                <%= comments[x].content %>
              </section>
              <footer class="new-thing">
                <a href="#" class="make-reply">reply</a>
                <% if (comments[x].children.length > 0) { %>
                <a href="#<%= comments[x].id %>" class="load-replies">load <%= comments[x].children.length %> comments</a>
                <% } %>

                <form class="off" method="POST" data-callback="output" action="/new/comment">
                  <div class="row pad-bottom-light">
                    <input name="parent" hidden value="<%= comments[x].id %>">
                    <textarea name="message" placeholder="reply..."></textarea>
                  </div>
                  <div class="row pad-bottom-light">
                    <a class="button primary submit">send it</a>
                    <output></output>
                  </div>
                </form>
              </footer>
            </li>
            <% } %>
          </ul>
          <% } else { %>
          <p class="pad-bottom-hard">
            No comments yet!
          </p>
          <% } %>
        </div>
      </div>
    </div>
  </div>