<div class="contain edit-thing">
<form method="POST" data-callback="output" action="/edit/entry/<%= data.entry.id %>">
    <div class="row">
      <div class="col-1-2">
        <div class="row pad-bottom-light">
          <label for="postedBy">Use</label>
          <select name="postedBy" id="posted-by">
            <option selected value="<%= user.username %>"><%= user.username %></option>
          </select>
        </div>
        <div class="row pad-bottom-light">
          <label for="title">Title (req)</label>
          <input type="text" name="title" value="<%= data.entry.postedTo %>" readonly>
        </div>

        <div class="row pad-bottom-light">
          <label for="title">Media (optional)</label>
          <input type="text" name="media" value="<%= data.entry.media %>">
        </div>

        <div class="row pad-bottom-light">
          <label for="title">Text (optional)</label>
          <textarea name="markdown"><%- data.entry.markdown %></textarea>
          <textarea name="content" hidden></textarea>
          <div class="preview"><%- data.entry.content %></div>
        </div>

        <div class="row pad-bottom-light">
          <label for="postedTo">You can post to one sub and cross post (optional) in up to two more</label>
          <input type="text" name="postedTo" value="<%= data.entry.postedTo %>">
        </div>

        <div class="row pad-bottom-light">
          <a class="button primary submit">send edit</a>
        </div>
      </div>
    </div>
  </form>
</div>