<div class="row single-entry">
  <article class="active">
    <div class="contain">
      <header>
      <% var entries = data.entries %>
      <% var entry = 0 %>
        <h1><%= entries[entry].title %></h1>
      </header>
      <section>
        <% if (entries[entry].media) { %>
        <%- include media-handler %>
        <% } %>
        <%- entries[entry].content %>
      </section>
      <footer>
        <cite><a href="/users/entries/<%= entries[entry].postedBy %>"><%= entries[entry].postedBy %></a> &rarr; <a href="/sub/<%= entries[entry].postedTo %>"><%= entries[entry].postedTo %></a></cite>
      </footer>
    </div>
  </article>
</div>
<div class="row single-entry">
    <% for(i = 0; i < entries[entry].comments.length; i++) {%>
        <article class="active">
            <div class="contain">
                <header>
                    <%=entries[entry].comments[i].postedBy %>
                </header>
                <section>
                    <%=entries[entry].comments[i].content %>
                </section>
            </div>
        </article>
    <% } %>
</div>
