<div class="row single-entry">
  <article class="active">
    <div class="contain">
      <header>
        <h1><%= data[0].title %></h1>
      </header>
      <section>
        <% if (data[0].media) { %>
        <div class="media"><img src="<%= data[0].media %>"></div>
        <% } %>
        <%- data[0].content %>
      </section>
      <footer>
        <cite><strong><%= data[0].postedBy %></strong> &rarr; <%= data[0].postedTo %></cite>
      </footer>
    </div>
  </article>
</div>
<div class="row single-entry">
    <% for(i = 0; i< data[0].comments.length; i++) {%>
        <article class="active">
            <div class="contain">
                <header>
                    <%=data[0].comments[i].postedBy %>
                </header>
                <section>
                    <%=data[0].comments[i].content %>
                </section>
            </div>
        </article>
    <% } %>
</div>
