<% var active = "" %>
<% var entries = data.entries %>

<% if (req.params.slug) { %>

<% active = "active" %>
<% which = 0 %>
<% } %>
<div class="row entries">
  <% for (which in entries) { %>
  <% var entry = entries[which] %>
  <% var date = new Date(entry.createdAt) %>
  <article class="row <%= active %><% if (entry.media) { %> has-media<% } %>" data-timestamp="<%= date %>" data-id="<%= entry.id %>">
    <div class="contain entry">
      <header>
        <%- include entry-controls %>
        <h1>
          <%= entry.title %><% if (entry.nsfw) { %> [NSFW] <% } %><% if (entry.nsfl) { %> [NSFL] <% } %>
        </h1>

      </header>
      <section>
        <%- include media-handler %>
        <%- entry.content %>
      </section>
      <cite>
        <strong><%= entry.postedBy.name %></strong> &rarr; <a href="/sub/<%= entry.postedTo.slug %>"><%= entry.postedTo.name %></a> <%- include time-since %>
      </cite>
      <footer>
        <div class="permalink">
          (<a href="/sub/<%= entry.postedTo.slug %>/<%= entry.slug %>#comments"><%= entry.commentAmmount %>&nbsp;comments</a>)
        </div>
        <div class="score">
          <span class="totes"><%= entry.getScore() %></span>
          <span class="calculated"> &rarr; (<span class="ups"><%= entry.ups %></span> - <span class="downs"><%= entry.downs %></span>)</span>
        </div>
      </footer>

    </div>
  </article>



  <% if (req.params.slug) { %>
  <%- include comments %>
  <% } %>


  <% } %>
</div>
