
<div class="loaded-view<% if (data.single) { %> active<% } %>">
  <% if (data.single) { 
    entry = data.single;
    comments = data.single.comments;
    %>
    <%
    - include direct-entry-article %>
    <%
  } 
  %>
</div>

<div class="front-page scroll-y entries">
  <% 
  function timeSince (date) {var seconds = Math.floor((new Date() - date) / 1000);var interval = Math.floor(seconds / 31536000);if (interval > 1) {return interval + " years";}interval = Math.floor(seconds / 2592000);if (interval > 1) {return interval + " months";}interval = Math.floor(seconds / 86400);if (interval > 1) {return interval + " days";}interval = Math.floor(seconds / 3600);if (interval > 1) {return interval + " hours";}interval = Math.floor(seconds / 60);if (interval > 1) {return interval + " minutes";}return Math.floor(seconds) + " seconds";}

  var active = "";
  var entries = data.entries; 
  for (which in entries) { 

    if (entries[which].subs[0] == undefined) {

      console.log("FOUND YOU BITCH!", entries[which])
    } else {
      var entry = entries[which]; 
      if (entry) { 
        var date = new Date(entry.createdAt);
        if (data.single && entry.id == data.single.id) {
          active = " active";
        } else {
          active = "";
        }
        %>
        <article class="row entry<%= active %><% if (entry.oembed && entry.ombed != "") { %> has-media<% } %><% if (entry.sticky) { %> sticky<% } %><% if (entry.nsfw) { %> nsfw<% } %>" data-timestamp="<%= date %>" data-id="<%= entry.id %>" id="<%= entry.id %>">
          <header>
            <h1>
              <%= entry.title %>
            </h1>
          </header>
          <% if (entry.oembed && entry.ombed != "") { 
            var oembed = JSON.parse(entry.oembed);
            var thumb = oembed.thumbnail_url;
            if (thumb != "" && thumb != undefined) {
              %>
              <div class="thumb" style="">
                <div class="nail" style="background-image:url(<%= thumb %>)"></div>
              </div>
              <%
            }
          } %>
          <cite>
            <strong><%= entry.postedBy.name %></strong> &rarr;
            <% for (var x = 0; x < entry.subs.length; x++) { %>
            <% if (x > 0) { %> / <% } %>
            <a href="/sub/<%= entry.subs[x].slug %>/<%= entry.slug %>"><%= entry.subs[x].name %></a>
            <% 
          } %>
          <span class="timesince"><%= timeSince(date) %> ago</span>
        </cite>
        <footer>
          <div class="permalink">
            <a href="/sub/<%= entry.subs[0].slug %>/<%= entry.slug %>#comments"><%= entry.commentCount %>&nbsp;comments</a>
          </div>
          <div class="score">
            <span class="totes"><%= entry.getScore() %></span>
            <span class="calculated"> &rarr; (<span class="ups"><%= entry.ups %></span> - <span class="downs"><%= entry.downs %></span>)</span>
          </div>
        </footer>
        <ul class="tags">
          <% if (entry.nsfw) { %><li>NSFW</li> <% } %>
          <% if (entry.nsfl) { %><li>NSFL</li><% } %>
          <% if (entry.media) { if (entry.media.indexOf('.gif') > 0){ %><li>GIF</li><% } } %>
        </ul>
      </article>
      <%
    }
  }
} %>

</div>
<div class="feature scroll-y">
  <div class="features">

    <% 
    if (data.text[0]) {
      %> 
      <div class="row">
        <div class="col-1-1">
          <h3 class="pink lh30 text-center pad-top-light uppercase px14">
            most recent headlines</h3>
            <ul class="text-entries">
              <% 
              for (var x = 0; x < 10; x++) {  
                if (data.text[x]) { %>  
                <li>
                  <a href="#<%= data.text[x].id %>">
                    <span class="on-inline px10">(<span class="pink"><%= data.text[x].ups - data.text[x].downs %></span>) </span>
                    <%= data.text[x].title %> </a>
                  </li>
                  <% 
                }
              } %>
            </ul>
          </div>
        </div>
        <% } %>
        <div class="row">
          <h3 class="pink lh30 text-center pad-top-light uppercase px14">today's popular media</h3>
        </div>
        <div class="row tertiary-media videos flex">

          <% for (var x = 0; x < 4; x++) { %>
          <% if (data.images[x]) { %>
          <div class="media image flex-item" style="background-image:url(<%= data.images[x].media %>)"> 
            <a href="#<%= data.images[x].id %>"><%= data.images[x].title %></a>
          </div>
          <% 
        }
      }

      for (var x = 0; x < 4; x++) { 
        if (data.videos[x]) {
          var oembed = JSON.parse(data.videos[x].oembed);
          var thumb = oembed.thumbnail_url;
          if (which != "") { %> 
          <div class="media flex-item" style="background-image:url(<%= thumb %>)">
            <a href="#<%= data.videos[x].id %>"><%= data.videos[x].title %></a>
          </div>
          <% 
        }
      }
    } %>

  </div>
</div>
</div>

