<div class="row entries">
  <% for (entry in data.entries) { %>
  <article class="row" data-timestamp="<%= data.entries[entry].createdAt %>">
    <div class="contain">
      <div class="vote lh20">
        <ul class="score">
          <li class="ups"><%= data.entries[entry].ups %></li>
          <li class="downs"><%= data.entries[entry].downs %></li>
        </ul>
        <div class="control">
          <div class="up"></div>
          <div class="down"></div>
        </div>
      </div>
      <div class="entry">
        <header>
          <h1>
            <%= data.entries[entry].title %>
          </h1>
        </header>
        <section>
          <% if (data.entries[entry].media) { %>
          <%- include media-handler %>
          <% } %>
          <%- data.entries[entry].content %>
        </section>
        <footer>
          <cite><strong><%= data.entries[entry].postedBy %></strong> &rarr; <a href="/sub/<%= data.entries[entry].postedTo %>"><%= data.entries[entry].postedTo %></a> (<a href="/sub/<%= data.entries[entry].postedTo %>/<%= data.entries[entry].slug %>"><%= data.entries[entry].comments.length %>&nbspcomments</a>)</cite>
        </footer>
      </div>

    </div>
  </article>
  <% } %>
</div>
