<% var active = "" %>
<% var entries = data.entries %>
<% if (req.params.slug) { %> 
<% active = "active" %>
<% which = 0 %>
<% } %>
<div class="row entries">
  <% for (which in entries) { %>

  <article class="row entry <%= active %>" data-timestamp="<%= entries[which].createdAt %>" data-id="<%= entries[which].id %>">
    <div class="contain">
      <div class="which">
        <header>
          <ul class="control"> 
            <% if (user) { %>
            <% if (entries[which].votes[0]) { %>
            <% var up = (entries[which].votes[0].vote) %>
            <li class="vote up <% if (up) { %> <%= 'active' %> <% } %>" data-dir="up">&darr;</li>
            <li class="vote down <% if (!up) { %> <%= 'active' %> <% } %>" data-dir="down">&darr;</li>
            <% } else { %>
            <li class="vote up" data-dir="up">&darr;</li>
            <li class="vote down" data-dir="down">&darr;</li>
            <% } %>
            <% } %>
            <li class="close" title="close">x</li>
          </ul>
          <h1>
            <%= entries[which].title %>
          </h1>
          <div class="score">
            <span class="totes"><%= entries[which].getScore() %></span>
            <span class="calculated"> &rarr; (<span class="ups"><%= entries[which].ups %></span> <span class="downs">- <%= entries[which].downs %></span>)</span> 
          </div>
        </header>
        <section>
          <%- include media-handler %>
          <%- entries[which].content %>
        </section>
        <footer>
          <cite><strong><%= entries[which].postedBy %></strong> &rarr; <a href="/sub/<%= entries[which].postedTo %>"><%= entries[which].postedTo %></a> (<a href="/sub/<%= entries[which].postedTo %>/<%= entries[which].slug %>#comments"><%= entries[which].comments.length %>&nbsp;comments</a>)</cite>
        </footer>
      </div>
    </div>
  </article>


    <% if (req.params.slug) { %> 
      <%- include comments %>
    <% } %>

  <% } %>
</div>