<div class="row entries">
  <% for (entry in data) { %>
  <article class="row" data-timestamp="<%= data[entry].createdAt %>">
    <div class="contain">
      <div class="vote lh20">
        <!-- <div class="up">&uarr;</div>
        <div class="down">&darr;</div> -->
        <div class="score"><%= data[entry].score() %></div>
      </div>
      <div class="entry">
        <header>
          <h1>
            <%= data[entry].title %>
          </h1>
        </header>
        <section>
          <% if (data[entry].media) { %>
          <%- include media-handler %>
          <% } %>
          <%- data[entry].content %>
        </section>
        <footer>
          <cite><strong><%= data[entry].postedBy %></strong> &rarr; <a href="/sub/<%= data[entry].postedTo %>"><%= data[entry].postedTo %></a> (<a href="/sub/<%= data[entry].postedTo %>/<%= data[entry].slug %>"><%= data[entry].comments.length %>&nbspcomments</a>)</cite>
        </footer>
      </div>

    </div>
  </article>
  <% } %>
</div>
