<div class="row entries">
  <% var entries = data.entries %>
  <% for (entry in entries) { %>
  <article class="row" data-timestamp="<%= entries[entry].createdAt %>" data-id="<%= entries[entry].id %>">
    <div class="contain">
      <div class="entry">
        <header>
          <ul class="control"> 
            <% if (user) { %>
            <li class="vote up" data-dir="up">&darr;</li>
            <li class="vote down" data-dir="down">&darr;</li>
            <% } %>
            <li class="close" title="close">x</li>
          </ul>
          <h1>
            <%= entries[entry].title %>
          </h1>
          <div class="score">
            <span class="totes"><%= entries[entry].score() %></span>
            <span class="calculated"> &rarr; (<span class="ups"><%= entries[entry].ups %></span> <span class="downs">- <%= entries[entry].downs %></span>)</span> 
          </div>
        </header>
        <section>
          <%- include media-handler %>
          <%- entries[entry].content %>
        </section>
        <footer>
          <cite><strong><%= entries[entry].postedBy %></strong> &rarr; <a href="/sub/<%= entries[entry].postedTo %>"><%= entries[entry].postedTo %></a> (<a href="/sub/<%= entries[entry].postedTo %>/<%= entries[entry].slug %>"><%= entries[entry].comments.length %>&nbsp;comments</a>)</cite>
        </footer>
      </div>

    </div>
  </article>
  <% } %>
</div>
