<% if (data[entry].media.indexOf('imgur') > 0) { %>
<div class="media" style="background-image:url(<%= data[entry].media %>)"><img src="<%= data[entry].media %>"></div>
<% } %> 

<% if (data[entry].media.indexOf('gfycat') > 0) { %>
<div class="media">
  <iframe src='<%= data[entry].media %>' frameborder='0' scrolling='no' width='650' height='366' style='-webkit-backface-visibility: hidden;-webkit-transform: scale(1);' ></iframe>
</div>
<% } %> 

<% if (data[entry].media.indexOf('youtube') > 0) { %>
<div class="media">
  <% if (data[entry].media.indexOf('watch?v') > 0) { %>
    <% var which = data[entry].media.split("=")[1] %>
    <iframe width="640" height="360" src="https://www.youtube.com/embed/<%= which %>" frameborder="0" allowfullscreen></iframe>
  <% } %> 

  <% if (data[entry].media.indexOf('embed') > 0) { %>
    <iframe width="640" height="360" src="<%= data[entry].media %>" frameborder="0" allowfullscreen></iframe>
  <% } %> 

</div>
<% } %> 

