<% if (entry.media) { %>
<% if ( entry.media.indexOf('.jpg') > 0 || entry.media.indexOf('.jpeg') > 0 || entry.media.indexOf('.gif') > 0  || entry.media.indexOf('.png') > 0 ) { %>

<a target="_new" href="<%= entry.media %>"><div class="media image<% if(entry.nsfw) {%> nsfw<%}%><% if (entry.media.indexOf('.gif') > 0){ %> gif<% } %>" style="background-image:url(<%= entry.media %>)"><img src="<%= entry.media %>"></div></a>
<% } else if (entry.media.indexOf('gfycat') > 0) { %>
<% var url = "" %>
<div class="media gfycat" style="height: 40rem">
  <video id="sampleMovie" loop autoplay src="http://zippy.gfycat.com/OrdinarySlipperyGalapagossealion.webm" controls></video>
</div>

<% } else if ( entry.media.indexOf('youtube') > 0 || entry.media.indexOf('youtu.be') > 0 ) { %>

<% var which = "" %>
<% if (entry.media.indexOf('watch?v') > 0) { %>
<% which = entry.media.split("=")[1] %>
<% } %>

<% if (entry.media.indexOf('youtu.be') > 0) { %>
<% which = entry.media.split("/").pop() %>
<% } %> 

<% if (entry.media.indexOf('embed') > 0) { %>
<% which = entry.media.split("/").pop().split("?")[0] %>
<% } %> 
<div class="media youtube" style="background-image:url(http://img.youtube.com/vi/<%= which %>/0.jpg)">
  <iframe width="640" height="360" src="https://www.youtube.com/embed/<%= which %>" frameborder="0" allowfullscreen></iframe>

</div>
<% } else { 
  var split = entry.media.split("/");
  var hostname = "";
  var link = ""
  if (split[1] == "") {
    hostname = split[2];
    link = entry.media;
  } else {
    hostname = split[0]
    link = "http://" + entry.media;
  } %>
  
  via <a href="<%= link %>" target="_new"><%= hostname %></a>

  <%  } %> 

  <% } %> 


