<div class="row single-entry">
    <article class="active">
        <div class="contain">
            <header>
                <%= parent.postedBy.name %>
            </header>
            <section>
                <%= parent.content %>
            </section>
        </div>
    </article>
</div>

<div class="row single-entry comment">
  <article class="active">
    <div class="contain">
      <div class="contain new-thing">
        <form method="POST" data-callback="newEntry" action="/comment/<%=parent.id%>/reply">
          <div class="row pad-bottom-light">
            <input type="text" name="slug" hidden value="<%= slug %>">
            <input type="text" name="id" hidden value="<%= parent.id %>">
            <label for="title">Reply to comment</label>
            <textarea name="message"></textarea>
            <div class="row pad-bottom-light">
              <a class="button primary submit">send it</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </article>
</div>
