<ul>
  <% for (var which = 0; which < entries.length; which++) { %>
  <li>
    <header>
      <%= entries[which].postedBy.name %>
    </header>
    <section>
      <%= entries[which].content %>
    </section>
    <footer>
      <a href="/new/comment?parent=<%= entries[which].id%>&slug=<%= entries[which].slug%>">reply</a>
      <% if (entries[which].children.length > 0) { %>
      <a class="load-replies">load <%= entries[which].children.length %> replies</a>
      <% } %>
    </footer>
  </li>
  <% } %>
</ul>
