<ul>
  <% for (var which = 0; which < entries.length; which++) { %>
  <li data-id="<%= entries[which].id %>" id="<%= entries[which].id %>">
    <header>
      <%= entries[which].postedBy.name %>
    </header>
    <section>
      <%= entries[which].content %>
    </section>
    <footer class="new-thing">
      <a href="#" class="make-reply">reply</a>
      <% if (entries[which].children.length > 0) { %>
      <a href="#<%= entries[which].id %>" class="load-replies">load <%= entries[which].children.length %> replies</a>
      <% } %>
      <form class="off" method="POST" data-callback="makeReply" action="/new/comment">
      <input name="parent" hidden value="<%= entries[which].id %>">
        <div class="row pad-bottom-light">
          <textarea name="message" placeholder="reply..."></textarea>
        </div>
        <div class="row pad-bottom-light">
          <a class="button primary submit">send it</a>
          <output></output>
        </div>
      </form>
    </footer>
    <ul></ul>
  </li>
  <% } %>
</ul>
